.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
.DS_Store
*.log
*.cache.json
sample_md.pdf
sample_md_translated.md
sample_md_translated_assets/
*.pdf_translator_cache/
*.egg-info/
env/
venv/
build/
dist/

data/
legacy/
